.movie-slider {
    position: relative;

    .v-slide-group__prev,
    .v-slide-group__next {
        position: absolute;
        height: 100%;
        top: 0;
        z-index: 1;
    }

    .v-slide-group__next {
        right: 18px;
    }
}